<div class="container col-6">


   
    
  <div class="d-grid gap-2 d-md-block">
        <br>
          <a class="btn btn-outline-dark btn-lg" href="/subjects/create">add new subjects</h1></a>
          <a class="btn btn-outline-info btn-lg" href="/subjects/generate">Take generate</h1></a>
            </div>
        <br>

         <div class="card">
            <div class="card-body">
                <table class="table">
                 <tr>
                    <th>name</th>
                    <th>Action</th>
                    <th></th>
                    <th></th>
                 </tr>
                {{#each subjects}}
                <tr>
               <th>{{name}}</th>
               
             <th><a class="btn btn-outline-success" href="/subjects/{{_id}}">show</a></th>
            
             <th><a class="btn btn-outline-warning" href="/subjects/{{_id}}/edit">edit</a>
             </th>
             <th><a   href=""> <form action="/subjects/{{_id}}?_method=DElETE" method="post">
                <button class="btn btn-outline-danger" type="submit"> Delete</button>
             </form>
             </a>
             </th>
        
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>

    