<br>
 <div class="container col-6">
  <a class="btn btn-outline-dark" href="#">  <h1>The Subject is: {{subject.name}}</h1></a>
  <br><br>
   <a class="btn btn-outline-success" href="#"> <h2>  Code: {{subject.code}}</h2></a>
   <br><br>

   <a class="btn btn-outline-info" href="#"><h2> Department:  {{subject.department.name}} </h2></a></div>






